@use "../../Styles/mixins" as *;

.containerValeurs {
    @include center;
    flex-direction: column;
    margin: 38px 0;
    gap: 30px;

    @include mobile {
           margin: 19px 0;
           gap: 20px;
           padding: 0;
        }
}
