@use "../../Styles/_mixins.scss" as *;

.accueil {
    padding: 0 100px;

    @include mobile {
        padding: 0 20px;
    }
}

.cards {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    padding: 56px 50px;
    margin: 46px 0 50px;
    justify-content: space-evenly;

    @include mobile {
        padding: 22px 0 27px;
        margin: 0;
        background-color: white;
        gap: 20px;
    }
}