@use "../../Styles/_mixins.scss" as *;

.logement {
    padding: 0 100px 50px;
    @include center;
    flex-wrap: wrap;
    width: -webkit-fill-available;

    @include mobile {
        padding: 0 20px 27px;
    }

    &_collapses {
        display: flex;
        gap:76px;
        width: -webkit-fill-available;
        padding-top: 15px;

        @include mobile {
            padding-top: 13px;
            flex-direction: column;
            gap: 20px;
        }

        &_list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    .collapse {
        &_titre {
            font-size: 18px;
            border-radius: 10px;

            @include mobile {
                font-size: 13px;
                border-radius: 5px;
            }
        }        
    }
}