@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin h2 {
    font-family: Montserrat;
    color: white;
    font-size: 24px;
}

@mixin h3 {
    font-family: Montserrat;
    font-size: 18px;
}

@mixin mobile {
  @media (min-width: 375px) and (max-width: 1024px) {
    @content;
  }
}