@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: anchor-center;
}

@mixin h2 {
    font-family: Montserrat;
    color: white;
    font-size: 24px;
}

@mixin h3 {
    font-family: Montserrat;
    font-size: 18px;

}