@use "../../Styles/_mixins.scss" as *;

.collapse {
    width: 1023px;
    height: fit-content;
    
    @include mobile {
           width: -webkit-fill-available;
    }

    &_titre {
        @include h2;
        font-weight: bold;
        padding: 10px 15px 10px 20px;
        margin: 0;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        background-color: #FF6060;
        align-items: center;

         @include mobile {
           font-size: 13px;
           padding: 5px 10px;
        }  
    }

    &_fleche {
        height: 28px;
        width: 28px;
        cursor: pointer;
        transition: transform .4s ease;

        &.rotate{
            transform: rotate(-180deg);
        }
    }

    &_contenu {
        background-color: #F6F6F6;
        @include h3;
        color: black;
        list-style: none;
        height: fit-content;
        margin: 0;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s, padding 0.25s ease-in-out;
        

        @include mobile {
           font-size: 11px;
           padding: 0 10px;
        }

        &.down {
            max-height: 500px;
            padding: 20px;

            @include mobile {
            padding: 10px;
            }
        }    
    }
}
