@use "../../Styles/mixins" as *;

.info {
    display: contents;

    &_titre{
        font-family: Montserrat;
        font-size: 36px;    
        font-weight: 500;
        color: #FF6060;
        margin-bottom: 5px;
        width: fit-content;
    }

    &_localisation {
        @include h3;
        font-weight: 500;
        margin: 0;
    }

    &_hote {
        margin-inline-start: auto;
        display: flex;

        &_nom {
            @include h3;
            font-weight: 500;
            color: #FF6060;
            margin: 0 10px 0 0;
            width: min-content;
            display: flex;
            text-align: end;
            align-items: center;
        }

        &_avatar {
            width: 64px;
            height: 64px;
            border-radius: 360px;
        }
    }

    &_tags {
        display: flex;
        width: fit-content;
        padding: 0;
        flex: auto;
        
        &_individuel {
            min-width: 105px;
            height: 22px;
            list-style: none;
            font-family: Montserrat;
            font-size: 14px;
            color: white;
            font-weight: 500;
            background-color: #FF6060;
            border-radius: 10px;
            margin-right: 10px;
            padding: 0 10px 3px;  
            @include center;
        }
    }
}