@use "../../Styles/mixins" as *;

.info {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "texte hote"
        "tags evaluation";
    gap: 10px 20px;
    align-items: center;
    width: -webkit-fill-available;

    @include mobile {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "texte texte"
            "tags tags"
            "evaluation hote";
        gap: 10px;
    }

    &_contenant {
        grid-area: texte;

        &_titre {
            font-family: Montserrat;
            font-size: 36px;    
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 5px;

            @include mobile {
                font-size: 18px;
            }
        }

        &_localisation {
            @include h3;
            font-weight: 500;
            margin: 0;

            @include mobile {
                font-size: 14px;
            }
        }
    }

    &_hote {
        grid-area: hote;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mobile {
            justify-content: flex-end;
        }

        &_nom {
            @include h3;
            font-weight: 500;
            color: #FF6060;
            margin: 0 10px 0 0;
            text-align: end;
            width: min-content;

            @include mobile {
                font-size: 12px;
            }
        }

        &_avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;

            @include mobile {
                width: 32px;
                height: 32px;
            }
        }
    }

    &_tags {
        grid-area: tags;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: 10px;

        &_individuel {
            min-width: 105px;
            height: 22px;
            list-style: none;
            font-family: Montserrat;
            font-size: 14px;
            color: white;
            font-weight: 500;
            background-color: #FF6060;
            border-radius: 10px;
            padding: 0 10px;  
            @include center;

            @include mobile {
                min-width: 85px;
                font-size: 10px;
                height: 18px;
                padding: 0;
            }
        }
    }

    &_evaluation {
        grid-area: evaluation;
        display: flex;
        justify-content: flex-end;

        @include mobile {
            justify-content: flex-start;
        }

        &_star {
            margin-left: 12px;
           
            @include mobile {
                width: 13px;
                margin: 0 7px 0;
            } 
        }
    }
}