.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  white;
    padding: 45px 100px 50px;

    &_link {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding-left: 57px;
        text-decoration: none;
    }

    &_link--active {
        text-decoration: underline;
    }

}