@use "../../Styles/_mixins.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  white;
    padding: 45px 100px 50px;

    @include mobile {
           padding: 20px 20px 27px;
           width: max-content;
        }

    &_logo {
        @include mobile {
            width: 145px;
        }
    }

    &_link {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding-left: 57px;
        text-decoration: none;

        @include mobile {
            font-size: 12px;
            text-transform: uppercase;
            padding-left: 26px;
        }
    }

    &_link--active {
        text-decoration: underline;
    }

}