@use "../../Styles/_mixins.scss" as *;

.footer {
    @include center;
    height: 209px;
    width: 100%;
    background-color: black;
    flex-direction: column;

    h2{
        @include h2;
        font-weight: 400;
        width: 30%;

        @include mobile {
          font-size: 12px;
        }
    }

}