@use "../../Styles/_mixins.scss" as *;

.footer {
    @include center;
    height: 209px;
    width: 100%;
    background-color: black;
    flex-direction: column;

    h2{
        font-family: Montserrat;
        color: white;
        font-size: 24px;
        font-weight: 100;
    }

}