@use "../../Styles/mixins" as *;

.card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
    cursor: pointer;

    @include mobile {
          width: 335px;
          height: 225px;
        }

    &_cover {
        position: absolute;       
        width: 100%;        
        height: 100%;      
        border-radius: 10px;
        object-fit: cover; 
    }

    &::after {
        content: "";        
        position: absolute;
        width: 100%;  
        height: 100%; 
        border-radius: 10px;   
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 1;        
    }

    &_title {
        @include h3;
        color: white;
        font-style: bold;       
        position: absolute; 
        bottom: 10px;  
        left: 10px;        
        right: 10px;      
        margin: 0;            
        z-index: 2;  
    }
}