@use "../../Styles/_mixins.scss" as *;

.banner {
    height: 223px;
    width: 1240px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
    contain: content;
    background-color: black;
    @include center;

    &_slogan {
        position: fixed;
        font-family: Montserrat;
        font-weight: 700;
        color: white;
        text-shadow:1px 1px 0 rgba(0, 0, 0, 25%),  /* Bas-droite */
                    -1px 1px 0 rgba(0, 0, 0, 25%), /* Bas-gauche */
                    -1px -1px 0 rgba(0, 0, 0, 25%), /* Haut-gauche */
                    1px -1px 0 rgba(0, 0, 0, 25%); /* Haut-droite */
    }
}