@use "../../Styles/_mixins.scss" as *;

.banner {
    height: 223px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
    contain: content;
    background-color: black;
    @include center;

    @include mobile {
        height: 111px;
        justify-content: flex-start;
        border-radius: 10px;
        box-shadow: none;
    }

    &_image {
        object-fit: cover;
        width: -webkit-fill-available;
    }

    &_slogan {
        position: fixed;
        font-family: Montserrat;
        font-weight: 700;
        color: white;
        text-shadow:1px 1px 0 rgba(0, 0, 0, 25%),  /* Bas-droite */
                    -1px 1px 0 rgba(0, 0, 0, 25%), /* Bas-gauche */
                    -1px -1px 0 rgba(0, 0, 0, 25%), /* Haut-gauche */
                    1px -1px 0 rgba(0, 0, 0, 25%); /* Haut-droite */

        @include mobile {
           font-size: 24px;
           padding-left: 16px;
           width: 225px;
           text-shadow: none;
        }
    }
}